<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="shortcut icon" type="image/png" href="./data/images/favicon.png" />
	    <link rel="stylesheet" type="text/css" href="./css/index.css" media="all" />
		<script src="./js/index.js"></script>		
		<meta charset="UTF-8">
		<title>Hoppers</title>
	</head>
	<body class="splash">
	    <div class="container">
	        <h1>Hoppers Level 1</h1>
	        
			<span id="question1">
			<h3> question#1 what do red eyed tree frogs eat?</h3>
			<form>
			  <input type="radio" name="q1" value= "other tree frogs" onclick="showMessage('try again')"> other tree frogs <br>
			  <input type="radio" name="q1" value="insects" onclick="showMessage('try again')"> insects<br>
			  <input type="radio" name="q1" value="all of the above" onclick="showMessage('amazing job'); moveFrog('60%', '100px')"> all of the above
			</form>
			</span>
			
			<span id="question2">
			<h3> question#2 where dose a red eyed tree frog live?</h3>
			<form>
			  <input type="radio" name="q2" value= "In trees" onclick="showMessage('great job');moveFrog( '45%', '440px')" > in trees <br>
			  <input type="radio" name="q2" value="On the ground" onclick="showMessage('try again')"> on the ground<br>
			  <input type="radio" name="q2" value="In a house" onclick="showMessage('try again')"> In a house<br/>
			</form>
			</span>
			
			<span id="question3">
			<h3> question#3 what are the predidors of a red eyed tree frog?</h3>
			<form>
			  <input type="radio" name="q3" value= "crickets" onclick="showMessage('try again')" >crickets <br>
			  <input type="radio" name="q3" value="moths" onclick="showMessage('try again')"> moths<br>
			  <input type="radio" name="q3" value="bigger tree frogs" onclick="showMessage('amazing work');moveFrog('30%', '100px');document.getElementById('nextLevel').style.display='block'"> bigger tree frogs<br/>
			</form>
			</span>
			<a id="nextLevel" href="/l2">click to continue</a>
			
			
			
			
			
			
			
			
			<h3 id="question3"></h3>
		    
			<img id="hoppers" src="/images/hopper.gif">
	    </div>
	</body>
</html>
























