<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="shortcut icon" type="image/png" href="./data/images/favicon.png" />
	    <link rel="stylesheet" type="text/css" href="./css/index.css" media="all" />
		<script src="./js/index.js"></script>		
		<meta charset="UTF-8">
		<title>Hoppers</title>
	</head>
	<body class="splash">
	    <div class="container">
	        <h1>Hoppers Level 2</h1>
	        
			<span id="question1">
			<h3> question#1 what layer of the rainforest do red eyed tree frogs live in?</h3>
			<form>
			  <input type="radio" name="q1" value= "emergent layer" onclick="showMessage('try again')">emergent layer  <br>
			  <input type="radio" name="q1" value="forest floor" onclick="showMessage('try again')">forest floor <br>
			  <input type="radio" name="q1" value="canopy" onclick="showMessage('amazing job'); moveFrog('60%', '100px')">canopy layer 
			</form>
			</span>
			
			<span id="question2">
			<h3> question#2 whitch is a layer of the rainforest?</h3>
			<form>
			  <input type="radio" name="q2" value= "forest floor" onclick="showMessage('great job');moveFrog( '45%', '440px')" > forest floor <br>
			  <input type="radio" name="q2" value="On the ground" onclick="showMessage('try again')"> ground layer<br>
			  <input type="radio" name="q2" value="In a house" onclick="showMessage('try again')"> all of the above<br/>
			</form>
			</span>
			
			<span id="question3">
			<h3> question#3 how does a red eyed tree frog sleep?</h3>
			<form>
			  <input type="radio" name="q3" value= "it folds up" onclick="showMessage('try again')" >it folds up <br>
			  <input type="radio" name="q3" value="it hides its toepads" onclick="showMessage('try again')"> it hides its toepads<br>
			  <input type="radio" name="q3" value="all of the above" onclick="showMessage('amazing work');moveFrog('30%', '100px');document.getElementById('nextLevel').style.display='block'"> all of the above<br/>
			</form>
			</span>
		<a id="nextLevel" href="/l3">click to continue</a>	
			
			
			
			
			
			
			
			<h3 id="question3"></h3>
		    
			<img id="hoppers" src="/images/hopper.gif">
	    </div>
	</body>
</html>
